
:root {
    --primary-color: #97835a;
    --secondary-color: #b89c6d;
    --background-color: #1c1c1c;
    --light-text-color: #f0f0f0;
    --muted-text-color: #888;
    --accent-color: linear-gradient(45deg, #b89c6d, #97835a);
    --shadow-color: rgba(0, 0, 0, 0.8);
    --control-background: #333;
    --control-border: #555;
    --control-hover: #444;
    --control-text: #f0f0f0;
    --header-navbar-background: #2e2e2e;
    --highlight-color: #f0c040;
    --hot-color: #ff4500;
    --placeholder-color: #888;
    --card-background-color: #2e2e2e;
    --card-border-color: #1a1a1a;
    --card-text-color: #d0d0d0;
    --active-indicator-color: #97835a;
    --tag-new-deal: #3b82f6;
    --tag-cim-review: #6366f1;
    --tag-seller-meeting: #8b5cf6;
    --tag-loi-submitted: #22c55e;
    --tag-loi-accepted: #22c55e;
    --tag-kyle-review: #ec4899;
    --tag-sba-loan: #f97316;
    --tag-due-diligence: #10b981;
    --tag-deal-closed-won: #16a34a;
    --tag-no-longer-interested: #f43f5e;
    --tag-nurture: #eab308;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Normalize */
html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}



  /* Ensure text and background contrast */
  .deal-status {
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    color: #fff; /* Default text color for deal status */
}

/* General Body Styling */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--light-text-color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    padding-top: 60px; /* Prevent overlap with header */
}

/* Header Styling */
.header-container {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 30px;
    background: linear-gradient(90deg, #000000, #1a1a1a);
    height: 60px;
    box-shadow: 0 4px 15px var(--shadow-color);
}

/* Particle Container */
#particle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
}

/* Particle Styling */
.particle {
    position: absolute;
    width: 4px; /* Smaller particles */
    height: 4px;
    background-color: rgba(255, 255, 255, 0.2); /* Softer, more subtle color */
    border-radius: 50%;
    animation: floatParticles linear infinite;
    opacity: 0;
}

/* Particle Animation */
@keyframes floatParticles {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    20% {
        opacity: 0.6; /* Softer fade-in */
    }
    100% {
        transform: translateY(-100vh); /* Move particles upwards */
        opacity: 0;
    }
}

/* Landing Section Styling */
.landing-section {
    position: relative;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center; /* Center-aligns content horizontally */
    align-items: center; /* Center-aligns content vertically */
    text-align: left; /* Align text to the left */
    padding: 30px 5%;
    overflow: hidden;
    background: linear-gradient(135deg, #2a2a2a, #1c1c1c); /* Soft gradient background for sleek look */
    color: var(--light-text-color);
    flex-wrap: wrap; /* Allows wrapping of flex items to prevent overflow */
}

/* Content Styling */
.landing-content {
    z-index: 1;
    color: var(--light-text-color);
    max-width: 600px;
    padding: 20px;
}

.landing-content h1 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 20px;
    color: White;
}

.landing-content p {
    font-size: 16px;
    color: var(--muted-text-color);
    margin-bottom: 20px;
    line-height: 1.6;
}

.landing-content .btn {
    font-size: 16px;
    padding: 10px 24px;
    background-image: var(--accent-color);
    color: var(--background-color);
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.landing-image {
    z-index: 1;
    margin-right: 50px; /* Margin between the image and content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-image img {
    max-width: 100%;
    border-radius: 15px;
    transition: transform 0.5s;
}

.landing-image img:hover {
    transform: scale(1.05);
}


/* Features Section Styling */
.features-section {
    padding: 50px 5%;
    background-color: var(--background-color);
    text-align: center;
}

.feature-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
    justify-items: center;
    margin-top: 20px;
}

.feature-item {
    background-color: var(--card-background-color);
    border-radius: 16px;
    padding: 30px;
    max-width: 350px;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.feature-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.feature-icon {
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
    border-radius: 50%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feature-details {
    text-align: center;
    margin-top: 10px;
}

.feature-details h3 {
    font-size: 18px;
    font-weight: 600;
    color: var(--light-text-color);
    margin-bottom: 10px;
}

.feature-details p {
    font-size: 14px;
    color: var(--card-text-color);
    margin-bottom: 10px;
    line-height: 1.5;
}

.feature-link {
    font-size: 14px;
    color: var(--highlight-color);
    text-decoration: none;
    border-bottom: 1px solid var(--highlight-color);
    transition: color 0.3s, border-bottom-color 0.3s;
}

.feature-link:hover {
    color: var(--light-text-color);
    border-bottom-color: var(--light-text-color);
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    .feature-list {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .landing-section {
        flex-direction: column;
        padding: 20px;
    }

    .landing-content, .landing-image {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .landing-content h1 {
        font-size: 28px;
    }

    .landing-section {
        min-height: 40vh;
    }

    .feature-item {
        max-width: 100%;
    }
}


/* Footer Styling */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: var(--header-navbar-background);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-content {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.footer-content a {
    color: var(--light-text-color);
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-content a:hover {
    color: var(--highlight-color);
}


h1, h2, h3, h4, h5, h6 {
    color: var(--light-text-color);
}

a {
    color: var(--light-text-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--highlight-color);
}

button {
    font-family: 'Roboto', sans-serif;
    color: var(--background-color);
    padding: 12px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}



.logo img {
    margin-top: 10px;
    margin-left: 0px;
    width: 40%;
    border-radius: 2px;
}


/* Login Modal Styling */
.login-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 100; /* Above all other content */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Dark overlay */
    justify-content: center;
    align-items: center;
}

.login-modal-content {
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 40px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

/* Additional Modal Styles */
#loginFormContainer, #signUpFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-modal-content input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--control-border);
    border-radius: 5px;
    background-color: var(--control-background);
    color: var(--control-text);
}

.login-modal-content .btn {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-modal-content .btn:hover {
    background-color: var(--secondary-color);
}


.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: var(--light-text-color);
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover {
    color: var(--highlight-color);
}

.google-login {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background-color: #4285F4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.google-login:hover {
    background-color: #357ae8;
}

.divider {
    margin: 20px 0;
    font-size: 14px;
    color: var(--muted-text-color);
}

#loginForm input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--control-border);
    border-radius: 5px;
    background-color: var(--control-background);
    color: var(--control-text);
}

.signup-link {
    margin-top: 20px;
}


/* New styles for the buttons at the bottom */
.auth-buttons {
    margin-top: auto; /* Pushes buttons to the bottom of the navbar */
    width: 100%; /* Make buttons full width */
    padding: 10px 0; /* Add some padding around buttons */
}

/* Styles for the Google Sign-In and Logout buttons */
.auth-buttons button {
    width: calc(100% - 20px); /* Adjust width with padding */
    padding: 10px;
    margin: 5px 10px; /* Adjust margin for button alignment */
    background-color: #4285F4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.auth-buttons button:hover {
    background-color: #357ae8;
}



.icon {
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 10px;
}




.btn {
    background-image: var(--accent-color);
    color: var(--background-color);
    padding: 12px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
    margin-left: 20px;
}

.btn:hover {
    transform: translateY(-3px);
}

.btn:active {
    transform: translateY(0);
}

body.light-theme {
    --primary-color: #4a4a4a;
    --secondary-color: #888;
    --background-color: #f9f9f9;
    --light-text-color: #111;
    --muted-text-color: #555;
    --accent-color: linear-gradient(45deg, #ccc, #999);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --control-background: #fff;
    --control-border: #ccc;
    --control-hover: #eee;
    --control-text: #111;
    --header-navbar-background: #fff;
    --highlight-color: #d4a759;
    --card-background-color: #ffffff;
    --card-border-color: #e0e0e0;
    --card-text-color: #333;
}

